@import 'clear';

$color-red: #e02020;
$color-white: #ffffff;
$color-black: #2B2B2B;
$color-back: #F6F6F6;

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh auto 20vh;
}
.center {
  display: grid;
  align-items: center;
  justify-content: center;
}
.header {
  border-bottom: 1px solid $color-black;
  &__title {
    font-size: 3rem;
    color: $color-black;
  }

}
.main {
  &__text {
    font-size: 2rem;
    color: $color-black;
  }
}
.footer {
  border-top: 1px solid $color-black;
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 100px;
    transition: .3s;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      transform: translateY(2px);
      opacity: .5;
    }
  }
  &__link {
    padding: 2px 0;
    font-size: 1rem;
    color: $color-black;
    &:hover {
      border-bottom: 1px solid $color-black;
    }
  }
}

@media screen and (max-width: 580px) {
  .header {
    &__title {
      font-size: 2rem;
    }
  }
  .footer {
    &__item {
      margin-right: 50px;
      transition: .3s;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        transform: translateY(2px);
        opacity: .5;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .header {
    &__title {
      font-size: 1.6rem;
    }
  
  }
  .main {
    &__text {
      font-size: 1.4rem;
    }
  }
  .footer {
    border-top: 1px solid $color-black;
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__item {
      margin-right: 15px;
      transition: 0;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        transform: translateY(0);
        opacity: 1;
      }
    }
    &__link {
      &:hover {
        border-bottom: none;
      }
    }
  }
}